gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks

# JVM crash + heap dumps land in this directory. One of these (a 16 GB Windows
# box out of memory) sat untracked in the repo for two months and would have
# been rsynced to the VPS by ops/vps/push.sh.
hs_err_pid*.log
replay_pid*.log
*.hprof
