.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
coverage/
*.iml
*.ipr
*.iws
.idea/
.vscode/
*.swp
*.swo
*~

# Android/iOS build artifacts
**/android/.gradle/
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec

# macOS/Windows/Linux
**/macos/Flutter/ephemeral/
**/windows/flutter/ephemeral/
**/linux/flutter/ephemeral/

# Secrets
.env
*.keystore
